{% include 'form/css.html' %}

<body>
  {% include 'form/header.html' %}

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>Inner Page</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Inner Page</li>
          </ol>
        </div>
      </div>
    </section><!-- End Breadcrumbs -->

    <section class="inner-page">
      <div class="container">
        <div class="login-page">
          <div class="form">
            <div class="error-message">
              {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %} {% for category, message in messages %}
              <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
              </div>
              {% endfor %} {% endif %} {% endwith %}
            </div>
            <form action="/login" class="login-form" , method="POST">
              <input type="text" name="account" placeholder="account" required autofocus />
              <span class="error-message" id="account-error"></span>

              <input type="password" name="password" placeholder="password" required />
              <span class="error-message" id="password-error"></span>
              
              <button type="submit">login</button>
              <p class="message">
                Not registered?
                <a href="{{ url_for('register_page') }}">Create an account</a>
              </p>
            </form>
          </div>
        </div>
      </div>
    </section>
  </main>

  {% include 'form/footer.html' %}
</body>

<script>
  const accountInput = document.getElementById("account");
  const passwordInput = document.getElementById("password");
  const accountError = document.getElementById("account-error");
  const passwordError = document.getElementById("password-error");

  const loginForm = document.querySelector(".login-form");

  loginForm.addEventListener("submit", (event) => {
    event.preventDefault();

    accountError.textContent = "";
    passwordError.textContent = "";

    if (!accountInput.value) {
      accountError.textContent = "Please enter your username.";
    }

    if (!passwordInput.value) {
      passwordError.textContent = "Please enter your password.";
    }
  });